<h1>monaco test</h1>
<div class="wrapper">
	<div>
		<app-monaco [(ngModel)]="codeJS" (codeNoReadonly)="onCodeJSNoReadonly($event)" [options]="monacoJSOptions"></app-monaco>
	</div>
	<div>
		<h3>code</h3>
		<pre>{{codeJS}}</pre>
		<h3>Without readonly</h3>
		<pre>{{codeJSNoReadonly}}</pre>
	</div>
</div>
<div class="wrapper">
	<div>
		<app-monaco [(ngModel)]="codeSQL" (codeNoReadonly)="onCodeSQLNoReadonly($event)" [options]="monacoSQLOptions"></app-monaco>
	</div>
	<div>
		<h3>code</h3>
		<pre>{{codeSQL}}</pre>
		<h3>Without readonly</h3>
		<pre>{{codeSQLNoReadonly}}</pre>
	</div>
</div>
<h1>}</h1>
